<h1>Create Workout</h1>
<hr>
<form [formGroup]="createWorkout" (ngSubmit)="saveWorkout()">

  <h2>Workout Details</h2>
  <mat-form-field appearance="fill">
    <mat-label>Workout Title</mat-label>
    <input matInput>
  </mat-form-field>
  
  <h2>Exercises</h2>
  
  <div *ngFor="let exercise of exercises.controls; let i = index" class="form-row">
    <app-dynamic-form [questions]="questions[i]"></app-dynamic-form>
  </div>

  <button mat-raised-button color="secondary" type="button" (click)="addExercise()">Add Exercise</button>

  <button mat-raised-button color="primary">Save Workout</button>
</form>